* {
    padding: 0;
    margin: 0;
}

.main-div {
    background-color: white;
    height: 12vh;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav1 {
    background-color: white;
    height: 13vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 2px whitesmoke;
    border-bottom: 2px solid purple;
}

.main-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: purple;
    font-weight: bold;
    letter-spacing: 1px;
}

.cake-icon {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    animation: bounce 1.2s infinite;
    margin-top: 20px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.shop-name {
    font-family: Algerian;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1s ease-out forwards;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.nav1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    border-bottom: 4px solid transparent;
    transform: scale(1) translateY(0);
    padding: 6px 15px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1s ease-out forwards;
    font-family: system-ui, -apple-system;
}

.nav1 a:hover {
    color: purple;
    border-bottom: 4px solid purple;
    transition: 0.5s;
    transform: scale(1) translateY(0);
}

.nav1 a:active {
    color: aqua;
    border-bottom: 4px solid purple;
    transition: 0.5s;
    transform: scale(1) translateY(0);
}


.nav2 {
    background-color: rgb(255, 255, 255);
    height: 13vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 2px whitesmoke;
    border-bottom: 2px solid purple;
}

.all-icons-div {
    background-color: purple;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1s ease-out forwards;
}

.nav2 i {
    font-size: 17px;
    color: white;
}

.mail {
    background-color: purple;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: arial;
    text-decoration: none;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1s ease-out forwards;
}

.mail p {
    text-decoration: none;
    color: white;
}

.mail:hover {
    background-color: white;
    border: 2px solid purple;
    transition: 0.5s;
    transform: scale(1.1);
}

.mail:active {
    background-color: purple;
    transition: 0.5s;
    border: none;
    box-shadow: none;
}

.mail:hover p {
    color: purple;
    transition: 0.5s;
}

.all-icons-div:hover {
    color: purple;
    background-color: white;
    transition: 0.5s;
    transform: scale(1.1);
    border: 3px solid purple;
}

.all-icons-div:active {
    background-color: purple;
    color: white;
    transition: 0.5s;
    border: none;
    box-shadow: none;
}

.all-icons-div:active i {
    color: white;
    transition: 0.5s;
    border: none;
    box-shadow: none;
}

.all-icons-div:hover i {
    color: purple;
    transition: 0.5s;
}

.main-heading-div {
    background-color: whitesmoke;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading-div2 {
    background-color: whitesmoke;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading-div2 p {
    color: purple;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1s ease-out forwards;
}

.main2-div {
    background-color: rgb(245, 245, 245);
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

.main2-div-inner-div {
    background-color: white;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 10px rgb(227, 225, 225);
    border: 3px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1s ease-out forwards;
}

.main2-div-inner-div img {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: fill;
}

.main2-div-inner-div img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.main2-div-inner-div p {
    color: purple;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.main2-div-inner-div-button {
    height: 40px;
    width: 81%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-radius: 3px;
    border: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 50px;
    cursor: pointer;
}

.main2-div-inner-div-button:hover {
    background-color: white;
    color: purple;
    transition: 0.5s;
    border: 3px solid purple;
    transform: scale(1.1);
}

.main2-div-inner-div-button:active {
    background-color: purple;
    color: white;
    transition: 0.5s;
    border: none;
    box-shadow: none;
}

.cake-info-main-div {
    background-color: white;
    height: 220vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cake-info-main-div img {
    box-shadow: 0px 2px 5px 5px rgb(181, 179, 181);
    border: 2px solid purple;
    border-radius: 10px;
}

.heading-btn-div {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
}

.heading-btn-div {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: purple;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

.heading-btn-div button {
    background-color: purple;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: arial;
    font-weight: bold;
}

.heading-btn-div button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: purple;
    transition: 0.5s;
    font-weight: bolder;
    border: 3px solid purple;
}

.heading-btn-div button:active {
    background-color: purple;
    color: white;
    transition: 0.5s;
    border: none;
    box-shadow: none;
}

.main-images-div {
    height: 320px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.main-images-div img {
    border-radius: 50%;
    cursor: pointer;
}

.main-images-div img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.main-images-div p {
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: arial;
}

.offer-div {
    background: linear-gradient(to left, purple, aqua);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-div p {
    font-size: 25px;
    color: whitesmoke;
    font-family: arial;
    font-weight: bold;
    line-height: 50px;
}

footer {
    background-color: whitesmoke;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.footer-logo-div {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 3rem;
    color: purple;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-cake-icon {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    margin-top: 20px;
    animation: bounce 1.2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.footer-shop-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul a {
    color: black;
    display: block;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
}

.Our-Speciality {
    color: purple;
    text-decoration: none;
    font-family: arial black;
}

.footer2-copyright {
    background-color: whitesmoke;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

@keyframes fadeInUp {
    to {
        opacity: 5;
        transform: translateY(0);
    }
}

.menu-icon i {
    display: none;
}

.menu-icon-for-tablet i {
    display: none;
}

.menu-icon-for-tablet2 i {
    display: none;
}

.shop-name {
    opacity: 0;
    transform: translateY(40px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    align-items: center;
    font-family: arial;
}

.heading-btn-div {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sidebar {
    display: none;
}

#menu {
    display: none;
}


/* ------------------------------------Media Query for screens up to 480px (mobile devices) -------------------------------------*/

@media (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .menu-btn {
        padding-right: 50px;
        width: 35px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .menu-btn span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: purple;
        margin: 6px 0;
        transition: 0.3s;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: -255px;
        width: 250px;
        background-color: white;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s ease-in;
        z-index: 1;
        height: 500px;
        border-bottom-left-radius: 10px;
        border: 2px solid purple;
    }

    .sidebar a {
        float: left;
        padding: 15px 25px;
        color: purple;
        text-decoration: none;
        font-size: 15px;
        margin-top: -10px;
        font-weight: bolder;
        transition: 0.3s;
        cursor: pointer;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .nav1 .sidebar a {
        display: block;
    }

    .menu-icon-main-div {
        height: 130px;
        width: 250px;
        display: flex;
        justify-content: center;
        gap: -50px;
        flex-wrap: wrap;
    }

    .menu-under-icon {
        background-color: purple;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;

    }

    #menu:checked~.sidebar {
        right: 0;
    }

    #menu {
        display: none;
    }

    .main-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .nav1 {
        background-color: white;
        width: 100%;
        height: auto;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav1 a {
        display: none;
    }

    .main-logo-div {
        background-color: white;
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: flex-start;
    }

    .cake-icon {
        font-size: 2rem;
        margin-top: 0;
        margin-right: 0.3rem;
    }

    .shop-name {
        font-size: 1.2rem;
    }

    .nav2 {
        display: none;
    }

    .all-icons-div,
    .mail {
        height: 35px;
        width: 35px;
        display: none;
    }

    .nav2 i {
        font-size: 15px;
    }

    .mail p {
        font-size: 15px;
    }

    .main-heading-div,
    .main-heading-div2 {
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    .main-heading-div2 p {
        font-size: 1.3rem;
        text-align: center;
        padding: 30px 12px;
    }

    .main2-div {
        height: auto;
        width: 100%;
        gap: 20px;
        padding: 20px 0;
    }

    .main2-div-inner-div {
        width: 70%;
        height: 410px;
        margin-bottom: 20px;
        display: flex;
    }

    .main2-div-inner-div img {
        height: 200px;
    }

    .main2-div-inner-div p {
        font-size: 1.1rem;
        text-align: center;
        padding: 10px;
    }

    .main2-div-inner-div-button {
        width: 80%;
        margin-bottom: 20px;
    }

    .cake-info-main-div {
        height: auto;
        flex-direction: row;
        gap: 20px;
        padding: 20px 0;
    }

    .cake-info-main-div img {
        width: 90%;
        height: auto;
        box-shadow: 0px 2px 5px 5px rgb(181, 179, 181);
    }

    .heading-btn-div {
        flex-direction: row;
        height: auto;
        padding: 10px 0;
        gap: 10px;
    }

    .heading-btn-div p {
        font-size: 1.8rem;
        text-align: center;
        padding: 0 10px;
    }

    .heading-btn-div button {
        width: 90px;
        height: 35px;
    }

    .main-images-div {
        width: 40%;
        height: 160px;
        margin-bottom: 15px;
    }

    .main-images-div img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .main-images-div p {
        font-size: 0.9rem;
        text-align: center;
    }

    .offer-div {
        height: auto;
        padding: 20px 10px;
    }

    .offer-div p {
        font-size: 0.8rem;
        line-height: 1.5;
    }

    footer {
        flex-direction: row;
        height: auto;
        padding: 20px 0;
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer-logo-div {
        font-size: 2rem;
        height: auto;
        padding: 10px 0;
    }

    .footer-cake-icon {
        font-size: 2rem;
        margin-top: 0;
    }

    ul {
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
    }

    ul a {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .footer2-copyright {
        height: 70px;
        padding: 15px 10px;
        font-size: 0.8rem;
        text-align: center;
    }
}

/*------------------------------- Media Query for screens up to 481 To 768px (Tablet devices)----------------------------------- */

@media screen and (min-width: 481px) and (max-width: 768px) {


    body {
        margin: 0;
        font-family: sans-serif;
    }

    .menu-btn {
        padding-right: 50px;
        width: 35px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .menu-btn span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: purple;
        margin: 6px 0;
        transition: 0.3s;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: -255px;
        width: 250px;
        height: 100%;
        background-color: white;
        padding-top: 60px;
        transition: right 0.3s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        height: 500px;
        border-bottom-left-radius: 10px;
        border: 2px solid purple;
    }

    .sidebar a {
        color: purple;
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        transition: 0.3s;
        cursor: pointer;
        margin-top: 10px;
        width: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .nav1 .sidebar a {
        display: block;
    }

    .menu-icon-main-div {
        background-color: white;
        height: 130px;
        width: 250px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .menu-under-icon {
        background-color: purple;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
    }

    #menu:checked~.sidebar {
        right: 0;
    }

    #menu {
        display: none;
    }

    .main-div {
        width: 100%;
        flex-direction: row;
        height: auto;
        position: fixed;
    }

    .nav1,
    .nav2 {
        flex-direction: row;
        height: auto;
        width: 100%;
        gap: 10px;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav1 a,
    .nav2,
    .mail {
        font-size: 14px;
        padding: 5px;
        display: none;
    }

    .shop-name {
        font-size: 1.2rem;
        text-align: center;
    }

    .cake-icon {
        font-size: 2rem;
        margin-top: 10px;
    }

    .menu-icon-for-tablet {
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-icon-for-tablet i {
        font-size: 20px;
        color: purple;
        display: block;
    }

    .main-heading-div,
    .main-heading-div2 {
        width: 100%;
        height: auto;
        padding: 20px 10px;
        text-align: center;
    }

    .main-heading-div2 p {
        font-size: 24px;
        margin-top: 50px;
    }

    .main2-div {
        width: 100%;
        flex-direction: row;
        gap: 20px;
        height: 1100px;
    }

    .main2-div-inner-div {
        width: 40%;
        height: 420px;
    }

     .main2-div-inner-div p{
        text-align: center;

     }

    .main2-div-inner-div img {
        height: 60%;
    }

    .main2-div-inner-div-button {
        width: 90%;
    }

    .cake-info-main-div {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .main-images-div {
        width: 40%;
        height: 170px;
        gap: 15px;
    }

    .main-images-div p{
        text-align: center;
    }

    .main-images-div img {
        width: 100px;
        height: 100px;
    }

    .offer-div p {
        font-size: 20px;
        text-align: center;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        height: auto;
        padding: 20px 0;
    }

    .footer-logo-div {
        font-size: 2rem;
    }

    .footer-cake-icon {
        font-size: 2rem;
    }

    .footer2-copyright {
        height: auto;
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }

    .heading-btn-div {
        flex-direction: row;
        gap: 10px;
        font-size: 20px;
        padding: 10px;
    }

    .heading-btn-div button {
        width: 100px;
    }

}

/*------------------------- Media Query for screens from 769px to 1255px (large tablets) -----------------------*/

@media screen and (min-width: 769px) and (max-width: 1050px) {

    body {
        margin: 0;
        font-family: sans-serif;
    }

    .menu-btn {
        padding-right: 50px;
        width: 40px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .menu-btn span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: purple;
        margin: 6px 0;
        transition: 0.3s;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: -255px;
        width: 250px;
        height: 100%;
        background-color: white;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s ease-in;
        z-index: 1;
        height: 500px;
        border-bottom-left-radius: 10px;
        border: 2px solid purple;
    }

    .sidebar a {
        float: left;
        padding: 15px 25px;
        color: purple;
        text-decoration: none;
        font-size: 15px;
        margin-top: 10px;
        font-weight: bolder;
        transition: 0.3s;
        cursor: pointer;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .main-div{
        width: 100%;
    }

    .nav1 .sidebar a {
        display: block;
    }

    .menu-icon-main-div {

        height: 130px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-under-icon {
        background-color: purple;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
    }

    #menu:checked~.sidebar {
        right: 0;
    }

    #menu {
        display: none;
    }

    .nav1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white
    }

    .nav1 a {
        font-size: 14px;
        padding: 6px 10px;
        display: none;
    }

    .nav2 {
        display: none;
    }

    .main-logo-div {
        font-size: 1.6rem;
    }

    .menu-icon-for-tablet2 {
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-icon-for-tablet2 i {
        font-size: 20px;
        color: purple;
        display: block;
    }

    .main2-div {
        width: auto;
        height: auto;
        padding: 40px 20px;
        gap: 30px;
    }

    .main-heading-div2,.main-heading-div{
        width: 100%;
    }

    .main2-div-inner-div {
        width: 300px;
    }

    .cake-info-main-div {
        height: auto;
        width: auto;
        gap: 0;
    }

    .main-images-div {
        width: 25%;
    }

    .main-images-div img {
        width: 24%;
    }

    .main-images-div img {
        width: 85%;
    }

    .main-images-div p {
        font-size: 0.9rem;
        font-weight: bolder;
    }

    .heading-btn-div {
        font-size: 24px;
        padding: 0 20px;
    }

    .offer-div p {
        font-size: 22px;
    }

    footer {
        padding: 20px 10px;
        gap: 20px;
    }
}

/*------------------------- Media Query for screens from 1050px to 1220px (large tablets/small laptops) -----------------------*/

@media screen and (min-width: 1050px) and (max-width: 1220px) {

    .nav1 {
        background-color: white;
        width: 80vw;
    }

    .nav1 a {
        font-size: 0.9rem;
    }

    .shop-name {
        font-size: 1.7rem;
    }

    .nav2 {
        width: 20vw;
        height: 13vh;
    }

    .main-images-div {
        width: 22%;
        height: 300px;
    }

    .cake-info-main-div {
        height: auto;
    }

}

/*------------------------- Media Query for screens from 1221px to 1290px (large tablets/small laptops) -----------------------*/

@media screen and (min-width: 1221px) and (max-width: 1290px) {

    .main-images-div {
        height: 320px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }

    .cake-info-main-div {
        height: auto;
    }
}